{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
   
    <link rel="stylesheet" type="text/css" href="{% static 'website/main.css' %}">
    <link rel="shortcut icon" href="{% static 'website/assets/images/favicon.ico' %}">
  
    <link href="{% static 'website/assets/css/bootstrap.min.css' %}"  rel="stylesheet" type="text/css">
    
    <!-- <link href="{% static 'website/assets/css/bootstrap.css' %}"  rel="stylesheet" type="text/css"> -->
   
    <link href="{% static 'website/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'website/assets/css/style.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


    {% if title %}
        <title>Demand Drive - {{ title }}</title>
    {% else %}
        <title>Demand Drive</title>
    {% endif %}

   
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home' %}">Demand Drive</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
               </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                     {% if user.is_superuser %}
                      <a class="nav-item nav-link" href="{% url 'analytics' %}">View analytics</a>
                      {% endif %}
                      <a class="nav-item nav-link" href="{% url 'demand-create' %}">Create new demand</a>
                     
                      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                      
                      {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      
          {% if messages %}
          <div class="col-sm-13 col-md-13 shadow mb-4" >
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="glyphicon glyphicon-hand-right"></span> <strong>Error Message</strong>
                <hr class="message-inner-separator">
                <p>
                  {% for message in messages%}
                  {{ message}}
                  {% endfor %}
                  </p>
            </div>
          </div>
       
        {% endif %}
            <br>
            <br>
            <br>
            <br>
          {% block content %}{% endblock %}
        </div>
        
      </div>

    </main>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'website/assets/js/bootstrap.min.js' %}"></script>  
    
         <!-- Ajax Request -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
   
    <script>
      $(document).ready(function(){
           function updateText(btn, newCount, verb){
            console.log(btn.attr("data-likes"))
            // btn.attr("data-likes", newCount+ " " +verb)
            btn.text( newCount+" " + verb )
       }
 
       $(".like-btn").click(function(e){
         e.preventDefault()
         var this_ = $(this)
         var likeUrl = this_.attr("data-href")
         var likeCount = parseInt(this_.attr("data-likes")) | 0
         var addLike = likeCount + 1
         var removeLike = likeCount - 1
         if (likeUrl){
            $.ajax({
             url: likeUrl,
             method: "GET",
             data: {},
             success: function(data){
               
               var newLikes;
               if (data.liked){
                   updateText(this_, addLike, "Un Vote")
               } else {
                   updateText(this_, removeLike+1, "Vote")
                   // remove one like
               }
 
             }, error: function(error){
               console.log(error)
               console.log("error")
             }
           })
         }
        
       })
   })


   
 
     </script>
     
  
     
</body>
</html>