{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
      <div class="col-sm-13 col-md-13 shadow mb-4">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                ×</button>
            <span class="glyphicon glyphicon-hand-right"></span> <strong>Error Message</strong>
            <hr class="message-inner-separator">
            <p>
              {% for message in messages%}
              {{ message}}
              {% endfor %}
              </p>
        </div>
      </div>

  {% endif %}
  <article class="media content-section shadow mb-4" style="margin-left: 2%">
     <div class="media-body" >
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
       
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      
      
      
      <p class="article-content">{{ object.description }}</p>
      
    </div>
   
    
  </article>
  
        
    <div style="margin-left: 16px;">
      {% if object.author == user %}
       <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'demand-update' object.id %}">Update</a>
       <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'demand-delete' object.id %}">Delete</a>
       {% endif %}
      
     </div>
    
      </div>

      
      

      <div class="container">
        <br>
        <br>
        <div class="col-sm-8 col-md-8  ">
          <div class="card border-0 shadow mb-4">
            <div class="card-body">
            <h5 class="m-0">Fulfilled By Users</h5>
            
            {% for fulfiller in fulfillers%}
            {% if fulfiller.fulfiller %}
            <div class="my-4">
                <div class="article-metadata ">
                  <img typeof="foaf:Image" src="http://cssmenumaker.com/sites/all/themes/cssmenu/images/user_default.png" alt="sahu4ever's picture" title="sahu4ever's picture">
                  <a class="mr-2 author-title" href="#">{{ fulfiller.fulfiller }}</a>
                  <small class="text-muted  " >{{ fulfiller.date_fulfilled|date:"F d, Y" }}</small>
                  <div class="row">
                    <div class="col-sm-1 mt-2" style="margin-left: 12px;" >
                      <div  >
                        <a href="#"><i class="arrow-btn-up fas fa-sort-up"   >  </i>
                        </a>
                      </div>
                      <p style="font-weight:bold; font-size:18pt ; ">12 </p>
                     <div>
                       <a href="#"><i class="arrow-btn-down fas fa-sort-down mb-2 "    >  </i>
                       </a> 
                      </div>
                      </div>
                      <div class="col-lg-8  mt-3 mb-3" >
                        <div class="description-detail">
                          

                          <p class="text-break">

                          
                          {{fulfiller.f_suggestion}}
                          </p>
                          {% if fulfiller.f_content%}
                        </div>
                        <br>
                        <a href="{{fulfiller.f_content.url}}"><img src="{{fulfiller.f_content.url}}" alt="..." class="img-thumbnail"></a>
                        <!-- <a href="{{fulfiller.f_content.url}}"><span class="badge badge-warning ml-auto small badge-pill"> <strong class="view-post">View Post</strong> </span></a>
                         -->
                      </div>
                        {% endif %}
                        <br>
                          
                    </div>
                    
                  </div>
                
                 
               
          </div>
          
          
          <hr>
            {% endif%}
            {% endfor %}
           
            
          </div>
        </div>

 
    <div class="container">
      <h5 class="m-0">Would you like to fulfill this demand?</h5>
            
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group ">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group ">
            <button class="btn btn-outline-danger" type="submit">Fulfill Demand</button>
        </div>
      </form>

    </div>
        
        
      
      
   
  
{% endblock content %}